[Desktop Entry]
Type=Application
Name=aweomse-gnome-flashback
Comment=Improved dynamic tiling window manager
Exec=aweomse-gnome-flashback
NoDisplay=true
X-GNOME-WMName=aweomse-gnome-flashback
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false