[Desktop Entry]
Type=Application
Name=awesome-gnome-flashback
Comment=Improved dynamic tiling window manager
Exec=awesome-gnome-flashback
NoDisplay=true
X-GNOME-WMName=awesome-gnome-flashback
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false