[Desktop Entry]
Name=GNOME Flashback (awesome)
Comment=This session logs you into GNOME Flashback with awesome
Exec=awesome-gnome-flashback-session
TryExec=awesome
Type=Application
DesktopNames=awesome-GNOME-Flashback;GNOME-Flashback;GNOME;
