[Desktop Entry]
Name=GNOME Flashback (aweomse)
Comment=This session logs you into GNOME Flashback with aweomse
Exec=aweomse-gnome-flashback-session
TryExec=aweomse
Type=Application
DesktopNames=aweomse-GNOME-Flashback;GNOME-Flashback;GNOME;
